body {
    background-color: #eaf6f9;
}

#container {
    margin: auto;
    max-width: 600px;
}

form {
    background-color: #bbeefc;
    padding: 10%;
    margin-top: 10%;
    color: #023c4c;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

label {
    margin-left: 2%;
}

form input,
form textarea {
    display: block;
    width: 60%;
    margin: 2%;
}

#submit {
    margin: 2%;
    padding: 2%;
    background-color: #023c4c;
    color: #eaf6f9;
    font-family: 'Raleway', sans-serif;
    width: 30%;
}

#submit:hover {
    background-color: #eaf6f9;
    color: #023c4c;
}
