#container {
    text-align: center;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2.5em;
    color: #283957;
}

h2 {
    font-size: 2em;
    color: #283957;
}

p,
label {
    font-size: 1.5em;
    color: #1464a9;
}

label {
    margin-right: 2%;
}

input {
    width: 25%;
}

#ok {
    width: 5%;
    background-color: #1464a9;
    color: #ffffff;
}

header img {
    width: 100%;
    max-width: 800px;
}

main,
aside {
    margin-top: 4%;
}

aside h2 {
    font-size: 1.7em;
}

aside h3,
aside p {
    display: inline-block;
}

aside h3 {
    width: 30%;
    font-size: 1.3em;
}

aside p {
    font-size: 1em;
    width: calc(85% / 3);
}

span {
    display: block;
}

#one,
#two,
#three {
    opacity: 0;
}
